In [1]:
from bs4 import BeautifulSoup
import random
# Requests
import requests
from tqdm import tqdm
import pandas as pd
import numpy as np
import sys

sys.path.append("..")

from src.funciones import obtener_url_decat_deproducto, obtener_url_decat_deproducto2, scrapeo

In [2]:
# def obtener_url_decat_deproducto(url):
#     link = requests.get(url)
#     print('Hemos hecho el requests, vamos al if')
#     if link.status_code == 200:
#         sopa = BeautifulSoup(link.content, "html.parser")
#         lista_de_cajas = sopa.findAll('div', {'class': "card h-100"})
#         lista_href = []
#         for i in range(len(lista_de_cajas)):
#             h_ref = lista_de_cajas[i].find("a").get('href')
#             lista_href.append(h_ref)
#     else:
#         print(f'El status code es {link.status_code}')
#     return lista_href

In [3]:
# def obtener_url_decat_deproducto2(url):
#     link = requests.get(url)
#     print('Hemos hecho el requests, vamos al if')
#     if link.status_code == 200:
#         sopa = BeautifulSoup(link.content, "html.parser")
#         lista_de_cajas = sopa.findAll('div', {'class': "card h-100"})
#         lista_href = []
#         for i in range(len(lista_de_cajas)):
#             if lista_de_cajas[i].find('a').text == 'Histórico':
#                 h_ref = lista_de_cajas[i].find("a").get('href')
#                 lista_href.append(h_ref)
#     else:
#         print(f'El status code es {link.status_code}')
#     return lista_href

In [4]:
lista_supermercados = ['mercadona', 'carrefour', 'eroski', 'dia', 'hipercor', 'alcampo']
lista_webs = []
for i in lista_supermercados:
    url_supermercado = f'https://super.facua.org/{i}'
    lista_webs.append(url_supermercado)

lista_webs

['https://super.facua.org/mercadona',
 'https://super.facua.org/carrefour',
 'https://super.facua.org/eroski',
 'https://super.facua.org/dia',
 'https://super.facua.org/hipercor',
 'https://super.facua.org/alcampo']

In [5]:
lista_categorias_supermercados = []
for i in lista_webs:
    hrefs = obtener_url_decat_deproducto(i)
    lista_categorias_supermercados.append(hrefs)

Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if

In [6]:
print(len(lista_categorias_supermercados))
print(len(lista_categorias_supermercados[0]))

6
3

In [7]:
lista_categorias_supermercados
# lista_categorias_supermercados

[['https://super.facua.org/mercadona/aceite-de-girasol/',
  'https://super.facua.org/mercadona/aceite-de-oliva/',
  'https://super.facua.org/mercadona/leche/'],
 ['https://super.facua.org/carrefour/aceite-de-girasol/',
  'https://super.facua.org/carrefour/aceite-de-oliva/',
  'https://super.facua.org/carrefour/leche/'],
 ['https://super.facua.org/eroski/aceite-de-girasol/',
  'https://super.facua.org/eroski/aceite-de-oliva/',
  'https://super.facua.org/eroski/leche/'],
 ['https://super.facua.org/dia/aceite-de-girasol/',
  'https://super.facua.org/dia/aceite-de-oliva/',
  'https://super.facua.org/dia/leche/'],
 ['https://super.facua.org/hipercor/aceite-de-girasol/',
  'https://super.facua.org/hipercor/aceite-de-oliva/',
  'https://super.facua.org/hipercor/leche/'],
 ['https://super.facua.org/alcampo/aceite-de-girasol/',
  'https://super.facua.org/alcampo/aceite-de-oliva/',
  'https://super.facua.org/alcampo/leche/']]

In [8]:
lista_hrefs_articulos_totales_supermercados = []
for i in range(len(lista_categorias_supermercados)):
    for href in (lista_categorias_supermercados[i]):
        lista_href_productos_supermercados = obtener_url_decat_deproducto2(href)
        lista_hrefs_articulos_totales_supermercados.append(lista_href_productos_supermercados)

Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if
Hemos hecho el requests, vamos al if

In [17]:
lista_hrefs_articulos_totales_supermercados[0]

['https://super.facua.org/mercadona/aceite-de-girasol/aceite-de-girasol-refinado-02-hacendado-1-l/',
 'https://super.facua.org/mercadona/aceite-de-girasol/aceite-de-girasol-refinado-02-hacendado-5-l/']

In [11]:
df = pd.DataFrame()

In [12]:
# df1 = pd.DataFrame()
df2 = pd.DataFrame()
for i in tqdm(range(len(lista_hrefs_articulos_totales_supermercados))):
    for href in (lista_hrefs_articulos_totales_supermercados[i]):
        df3 = scrapeo(href)
        df3['Supermercado'] = href.split('/')[-4]
        df3['Categoría'] = href.split('/')[-3]
        df3['Artículo'] = href.split('/')[-2]
        df2 = pd.concat([df2,df3])

  0%|          | 0/18 [00:00<?, ?it/s]

100%|██████████| 18/18 [05:49<00:00, 19.40s/it]

In [18]:
df2.head()

,Día,Precio (€),Variación,Supermercado,Categoría,Artículo
0,12/07/2024,"1,45",=,mercadona,aceite-de-girasol,aceite-de-girasol-refinado-02-hacendado-1-l
1,13/07/2024,"1,45",=,mercadona,aceite-de-girasol,aceite-de-girasol-refinado-02-hacendado-1-l
2,14/07/2024,"1,45",=,mercadona,aceite-de-girasol,aceite-de-girasol-refinado-02-hacendado-1-l
3,15/07/2024,"1,45",=,mercadona,aceite-de-girasol,aceite-de-girasol-refinado-02-hacendado-1-l
4,16/07/2024,"1,45",=,mercadona,aceite-de-girasol,aceite-de-girasol-refinado-02-hacendado-1-l

In [19]:
df2.dtypes

Día             object
Precio (€)      object
Variación       object
Supermercado    object
Categoría       object
Artículo        object
dtype: object

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133349 entries, 0 to 41
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Día           133349 non-null  object
 1   Precio (€)    133349 non-null  object
 2   Variación     133349 non-null  object
 3   Supermercado  133349 non-null  object
 4   Categoría     133349 non-null  object
 5   Artículo      133349 non-null  object
dtypes: object(6)
memory usage: 7.1+ MB

In [27]:
df2['Precio (€)'] = df2['Precio (€)'].str.replace(',', '.')

In [28]:
df2.sample()

,Día,Precio (€),Variación,Supermercado,Categoría,Artículo
108,13/10/2024,8.15,=,alcampo,aceite-de-oliva,ybarra-aceite-de-oliva-suave-botella-1-l

In [30]:
df2['Precio (€)'] =  df2['Precio (€)'].astype(float)

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133349 entries, 0 to 41
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Día           133349 non-null  object
 1   Precio (€)    133349 non-null  float64
 2   Variación     133349 non-null  object
 3   Supermercado  133349 non-null  object
 4   Categoría     133349 non-null  object
 5   Artículo      133349 non-null  object
dtypes: float64(1), object(5)
memory usage: 7.1+ MB

In [33]:
df2['Día']

0     12/07/2024
1     13/07/2024
2     14/07/2024
3     15/07/2024
4     16/07/2024
         ...
37    21/10/2024
38    22/10/2024
39    23/10/2024
40    24/10/2024
41    25/10/2024
Name: Día, Length: 133349, dtype: object